* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f0f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: #e6efff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.auth-title {
  font-size: 32px;
  font-weight: 800;
  color: #00008b; 
  margin-bottom: 30px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.input-field {
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #002272;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  outline: none;
}

.input-field::placeholder {
  color: #002272;
}

.forgot-password {
  font-size: 14px;
  color: #555557;
  text-align: right;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.submit-btn {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #5C7DCD, #11368C);
  cursor: pointer;
}

.auth-footer {
  margin-top: 20px;
}

.or-text {
  font-size: 16px;
  color: #0043E0;
  margin-bottom: 10px;
}

.register-link {
  font-size: 20px;
  color: #0043E0;
  font-weight: bold;
  text-decoration: none;
}
