{% extends "main/base.html" %}
{% load static %}
{% load custom_tags %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'exit-notes/main-styles.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <!-- Кнопка для просмотра записок -->
    <div class="exit-notes-button-container">
        <a href="{% url 'exit_notes:view_notes' %}" class="exit-notes-nav-button">Просмотреть записки</a>
    </div>

    <!-- Секция для создания новой заметки -->
    <div class="exit-notes-create-note-section">
        <h2>Создать записку</h2>
        <form method="post" id="create-note-form">
            {% csrf_token %}
            <label for="note-title">Название (тема) <span id="title-counter">0/15</span></label>
            <input 
                type="text" 
                id="note-title" 
                name="title" 
                class="exit-notes-input-title" 
                placeholder="..." 
                maxlength="15" 
                oninput="updateCounter()" 
                required>
            <label for="note-description">Описание</label>
            <textarea 
                id="note-description" 
                name="description" 
                class="exit-notes-input-description" 
                placeholder="..." 
                required></textarea>
            <button type="submit" class="exit-notes-submit-button">Создать</button>
        </form>
    </div>
</div>

<script src="{% static 'exit-notes/script.js' %}"></script>
{% endblock %}
