{% extends "main/base.html" %}
{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записки</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    {% block stylesheet %}<link rel="stylesheet" href="{% static 'exit-notes/main-styles.css' %}">{% endblock %}
</head>
<body>
{% block content %}
{% if debug_state %}
    {{ request.user.groups.all }}
    <p>Is Родитель? {{ request.user|has_group:'Родитель' }}</p>
    <p>Is Классный руководитель? {{ request.user|has_group:'Классный руководитель' }}</p>
    <p>Is Модератор предложений? {{ request.user|has_group:'Модератор предложений' }}</p>
    <p>Is Системный администратор? {{ request.user|has_group:'Системный администратор' }}</p>
{% endif %}
<div class="main-container">
    <!-- Секция для отображения заметок -->
    <div class="notes-section">
        <h2>Мои записки</h2>
        <div id="notes-list">
            {% for note in valid_notes %}
            <div class="note" 
                data-id="{{ note.id }}" 
                data-title="{{ note.title }}" 
                data-description="{{ note.description }}" 
                data-date="{{ note.created_on|date:'d.m.Y H:i' }}" 
                data-parent-approved="{{ note.parent_approved|yesno:'true,false' }}"
                data-teacher-approved="{{ note.teacher_approved|yesno:'true,false' }}"
                onclick="openModal(this)">
                <div class="note-title">{{ note.title }}</div>
                <div class="note-date"> Создана: {{ note.created_on|date:'d.m.Y H:i' }}  Для:{{ note.created_by.first_name }} {{ note.created_by.last_name }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="separator"></div>

    <!-- Секция для создания новой заметки -->
    <div class="create-note-section">
        <h2>Создать записку</h2>
        <form method="post" id="create-note-form">
            {% csrf_token %}
            <label for="note-title">Название (тема) <span id="title-counter">0/15</span></label>
            <input 
                type="text" 
                id="note-title" 
                name="title" 
                class="input-title" 
                placeholder="..." 
                maxlength="15" 
                oninput="updateCounter()" 
                required>
            <label for="note-description">Описание</label>
            <textarea 
                id="note-description" 
                name="description" 
                class="input-description" 
                placeholder="..." 
                required></textarea>
            <button type="submit" class="submit-button">Создать</button>
        </form>
    </div>

    <!-- Модальное окно для отображения деталей заметки -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="modal-note-title"></div>
                <div class="modal-date" id="modal-note-date"></div>
            </div>
            <label>Название (тема)</label>
            <input type="text" id="modal-title" class="input-title" disabled>
            <label>Описание</label>
            <textarea id="modal-description" class="input-description" disabled></textarea>
            {% if request.user|has_group:'Родитель' %}
                <form id="parent-approve-form" method="post">
                    {% csrf_token %}
                    <button type="submit" class="submit-button">Подтвердить</button>
                </form>
            {% endif %} 
            
            {% if request.user|has_group:'Классный руководитель' %}
                <form id="teacher-approve-form" method="post">
                    {% csrf_token %}
                    <button type="submit" class="submit-button">Подтвердить</button>
                </form>
            {% endif %}
            
            {% if request.user|has_group:'Классный руководитель' or request.user|has_group:'Родитель' %}
                <form id="deny-form" method="post">
                    {% csrf_token %}
                    <button types="submit" class="submit-button">Отклонить</button>
                </form>
            {% endif %}
            <img alt="QR Code for Exit Note" id="modal-qr-code">
        </div>
    </div>
</div>
<script src="{% static 'exit-notes/script.js' %}"></script>
{% endblock %}
</body>
</html>