td a{
    text-decoration:none;
    color: black;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    width:auto;
    overflow: ellipsis;
    transition: transform 0.3s ease;
}

.td-link:hover {
    transform: scale(1.3);
    background-color:var(--nav-main);
}

.number{
    width: 10px;
}

.breakfast{
    text-align:center;
    background-color:#ddd;
}

input{
    width: 3ch;
}

select{
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    table {
      font-size: 0.9rem; /* Adjust font size */
    }
    td, th {
      padding: 5px; /* Adjust cell padding */
    }
}
@media (max-width: 425px){
    table {
        font-size: 0.5rem;
    }
    td, th {
        padding: 2px; /* Adjust cell padding */
    }
}  