{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title %}Авторизация{% endblock title %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
   </head>
<body>
  {% block content %}
  <div class="wrapper">
  <div>
    {% block try_again%}
    {% endblock try_again %}
  </div>
    <h2>Авторизация</h2>
    <form method = "POST">
      {% csrf_token %}
      <div class="input-box">
        <label>Username <span class="text-danger">*</span></label>
        {{form.username}}
      </div>
      <div class="input-box">
        <label>Password<span class="text-danger">*</span></label>
        {{form.password}}
      </div>
      <div class="input-box button">
        <input type="Submit" value="Войти">
      </div>
    </form>
  </div>
  {% endblock content %}
</body>
</html>