{% extends "main/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    {% block stylesheet %}<link rel="stylesheet" href="{% static 'users/login_styles.css' %}">{% endblock stylesheet %}
</head>
<body>
  {% block content %}
    <div class="auth-container">
        <h1 class="auth-title">Авторизация</h1>
        <form id="loginForm" class="auth-form" method="post">
            {% csrf_token %}
            {{ form.username.errors }}
            {{ form.username }}
            {{ form.password.errors }}
            {{ form.password }}
            <a href="#" class="forgot-password">Забыли пароль?</a>
            <button type="submit" id="loginButton" class="submit-btn">Войти</button>
        </form>
    </div>
  {% endblock content %}
</body>
</html>